body{
    background-color: #FFF3E4;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #518B8E;
}

.sidebar header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #CFD2CF;
    text-align: center;
    line-height: 50px;
    background: #232222;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: .5s;
    text-decoration: none;
}

ul li:hover a{
    padding-left: 90px;
    background-color: black;
}

h2{
    margin-left: 700px;
    margin-top: 15px;
}

form{
    font-weight: bold;
    color: #518B8E;
    margin: 100px 250px 200px 400px;
    display: flex;
    gap: 10px;
}

