body{
    background-color: #E8F9FD;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #518B8E;
}

.sidebar header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #CFD2CF;
    text-align: center;
    line-height: 50px;
    background: #232222;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: .5s;
    text-decoration: none;
    border-right: 1px solid;
}

ul li:hover a{
    padding-left: 90px;
    background-color: black;
}

.well{
    text-align: center;
    margin-top: 290px;
    margin-left: 290px;
    color: #25316D;
    user-select: none;
}

.peminjam{
    margin-left: 500px;
    margin-top: 230px;
    position: absolute;
    top: -19%;
    right: 3%;
    user-select: none;
}

table{
    border-collapse: collapse;
    font-size: 15pt;
    border: 1px solid black;
}

td{
    
    padding: 60px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #518B8E;
}

table tr th{
    background-color: #CFD2CF;
}